.comic-navigation, .fav-comic-navigation {
    display: flex; /* Utiliza flexbox para facilitar la alineación */
    justify-content: space-between; /* Separa los botones entre sí al máximo */
    align-items: center; /* Centra los botones verticalmente en su contenedor */
    padding: 10px; /* Espaciado interno para evitar que los botones toquen los bordes del contenedor */
}

#prev-comic, #next-comic, #fav-prev-comic, #fav-next-comic {
    font-size: 5em; /* Tamaño del texto para hacer los botones grandes */
    text-shadow: 2px 2px 4px #03a9f4; /* Borde azul alrededor de los botones */
    background-color: transparent; /* Fondo transparente */
    cursor: pointer; /* Cursor en forma de mano para indicar que son clickeables */
    padding: 2px; /* Espaciado interno para mejorar la interacción */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para efectos de hover */

}

#prev-comic, #fav-prev-comic {
    position: absolute;
    top: 45%;
    left: -4%;
}

#next-comic, #fav-next-comic  {
    position: absolute;
    top: 45%;
    right: -4%;
}



#prev-comic:hover, #next-comic:hover, #fav-prev-comic:hover, #fav-next-comic:hover  {
    color: #03a9f4; /* Cambia el texto a blanco en hover */
}

#heart-comic , #fav-heart-comic {
    font-size: 5em; /* Tamaño del corazón */
    border: none; /* Sin borde */
    background-color: transparent; /* Fondo transparente */
    cursor: pointer; /* Cursor en forma de mano */
    color: rgba(255, 0, 0, 0.2); /* Color inicial del corazón */
    transition: color 0.3s; /* Transición suave para el color */
    position: absolute;
    bottom: 0%;
    right: 0%;
}

#heart-comic.active, #fav-heart-comic.active {
    color: red; /* Color cuando está activado */
}

.comic-status, .fav-comic-status{
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 2em; 
    background: rgba(20, 20, 20, 0.8);
    width: 100%;
    height: 6%;
    padding-left: 0.2em;
}

.comic-info, .fav-comic-info{
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-size: 1em; 
    background: rgba(20, 20, 20, 0.8);
    width: 100%;
    height: 10%;
}

.ct{
    padding: 1em;
    font-size: 1.2em;
}