body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #03a9f4;
}

header {
    height: 8%; /* 5% de la altura total de la página */
    background-color: #212121; /* Color de fondo ejemplo para el header */
    z-index: 1;
  }
  
  main {
    width: 90%;
    padding: 20px;
    height: 88%; /* 65% de la altura total de la página */
    display: flex; /* Habilita flexbox dentro del main */
    flex-direction: column;
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
    background-color: #212121; /* Color de fondo ejemplo para el main */
  
  }
  
  footer {
    display: flex;
    padding: 20px;
    height: 4%; /* 30% de la altura total de la página */
    background-color: #212121; /* Color de fondo ejemplo para el footer */
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
  
  }

  .backburger {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 2.5em;
    color: #03a9f4;
    text-shadow: 2px 2px 4px #555;
    padding-left: 10px;
  }
  
  .appSubtitle {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 5px;
    padding-right: 10px;
    z-index: 5;
    display: flex;
    align-items: left;
    font-size: 2em;
    color: #03a9f4;
    text-shadow: 2px 2px 4px #555;
  }

#comic-container {
    min-width: 85%;
    max-width: 85%;
    height: 80%;
    margin-bottom: 1em;
    border: 2px solid #03a9f4;
    box-shadow: 0 0 10px rgba(245,245,245,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    overflow: hidden;
}

#comic-cover{
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene las proporciones sin exceder el contenedor */
    display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
}

#comic-container img {
    width: auto;
    height: auto;
}

#button-container {
    padding-top: 1em;
    min-width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 25%;
    height: auto;
    
}

button img {
    width: 100px; /* Ajusta este valor según necesites */
    height: auto;
}


#main-deck-cont {
  width: 100%;  /* Ajusta al 100% del contenedor padre */
  height: 100%; /* Ajusta al 100% del contenedor padre */
  position: relative; /* Posicionamiento relativo para más control si es necesario */
  overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
}

#main-deck-count{
    color:#03a9f4;
}

#favorite-count{
    color: red;
}

/***************************/

#eligeCategorias{
  display: flex;
  flex-direction: column;

}

.categoria {
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}


.active-categories-list{
  font-size: 2em;
  color: #03a9f4;
}

/* Estilo para el botón que contiene la imagen y el contador */
button#main-deck-btn {
  position: relative; /* Posicionamiento relativo para el botón */
  border: none; /* Elimina el borde si es necesario */
  background: none; /* Fondo transparente */
  cursor: pointer; /* Cursor como puntero para indicar que es un botón */
  padding: 0; /* Sin padding para ajustar la imagen y el texto exactamente */
}

/* Estilo para la imagen dentro del botón */
button#main-deck-btn img {
  width: 100px; /* Ajusta esto según el tamaño deseado de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  display: block; /* Asegura que la imagen no tenga espacio extra alrededor */
}

/* Estilo para el span que muestra el contador */
#main-deck-count {
  position: absolute; /* Posicionamiento absoluto respecto a su contenedor relativo */
  top: 90%; /* Centrado verticalmente */
  right: 10px; /* Ajuste horizontal para colocarlo sobre la imagen o cerca del borde derecho */
  transform: translateY(-50%); /* Centra el texto verticalmente en la posición calculada */
  padding: 2px 5px; /* Espaciado interno para el texto */
  border-radius: 5px; /* Bordes redondeados para el fondo del contador */
  font-size: 1em; /* Tamaño de fuente adecuado para el contador */
  color: #03a9f4;
  font-weight: bold; /* Negrita para el texto del contador */
}