#ra10_clock_body {
    display: block;
    max-height: 500px;
    max-width: 500px;
    padding: 1em;
  }
  #ra10_backwards-clock {
    display: block;
    background-image: radial-gradient(grey, #212121, #212121);
  }