.ra2_clock {
  width: 30rem;
  height: 30rem;
  border: 7px solid #A2B9BC; /* Cambio a un tono más suave */
  box-shadow: -4px -4px 10px rgba(162, 185, 188, 0.5),
    inset 4px 4px 10px rgba(255, 255, 255, 0.5),
    inset -4px -4px 10px rgba(162, 185, 188, 0.5),
    4px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
}

.ra2_outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #EAEDED; /* Fondo más suave */
  overflow: hidden;
}

.ra2_outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ra2_outer-clock-face::before,
.ra2_outer-clock-face::after,
.ra2_outer-clock-face .ra2_marking {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #5D6D7E; /* Marcas en tono azul-gris para contraste */
  z-index: 0;
  left: 49%;
}

.ra2_outer-clock-face .ra2_marking {
  background: #85929E; /* Marcas de hora en tono azul-gris claro */
  width: 3px;
}

.ra2_outer-clock-face .ra2_marking.ra2_marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

.ra2_outer-clock-face .ra2_marking.ra2_marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.ra2_outer-clock-face .ra2_marking.ra2_marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
}

.ra2_outer-clock-face .ra2_marking.ra2_marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}

.ra2_inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #FEF9E7; /* Fondo interno en tono crema */
  border-radius: 100%;
  z-index: 1;
}

.ra2_inner-clock-face::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #BFC9CA; /* Punto central en gris claro */
  z-index: 11;
}

.ra2_hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #34495E; /* Manecillas en azul marino oscuro para contraste */
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.ra2_hand.ra2_hour-hand {
  width: 30%;
  z-index: 3;
}

.ra2_hand.ra2_min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

.ra2_hand.ra2_second-hand {
  background: #F4D03F; /* Manecilla de segundos en amarillo vibrante */
  width: 45%;
  height: 2px;
}
