.ra8_cc{
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ra8_clock {
    height: 46vh;
    width: 46vh;
    background-color: #000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: #101010;
    font: 2.4vh/4.6vh 'Inconsolata', 'Courier', monospace;
    letter-spacing: 1vh;
    /* Right-side padding adjusted for letter spacing at the end of the line */
    padding: 4vh 8vh 4vh 4vh;
  }
  
  .ra8_always-on,
  .ra8_on {
    color: #fff;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  }