
.ra9_clock_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    overflow: hidden;
  }
  
  .ra9_clock {
    width: 480px;
    height: 480px;
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    border-radius: 50%;
    border: 8px solid black;
    position: relative;

  }
  
  .ra9_clock .ra9_number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 2.5rem;
  }
  
  .ra9_clock .ra9_number1 { --rotation: 30deg; }
  .ra9_clock .ra9_number2 { --rotation: 60deg; }
  .ra9_clock .ra9_number3 { --rotation: 90deg; }
  .ra9_clock .ra9_number4 { --rotation: 120deg; }
  .ra9_clock .ra9_number5 { --rotation: 150deg; }
  .ra9_clock .ra9_number6 { --rotation: 180deg; }
  .ra9_clock .ra9_number7 { --rotation: 210deg; }
  .ra9_clock .ra9_number8 { --rotation: 240deg; }
  .ra9_clock .ra9_number9 { --rotation: 270deg; }
  .ra9_clock .ra9_number10 { --rotation: 300deg; }
  .ra9_clock .ra9_number11 { --rotation: 330deg; }
  
  .ra9_clock .ra9_hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  }
  
  .ra9_clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .ra9_clock .ra9_hand.ra9_second {
    width: 3px;
    height: 45%;
    background-color: red;
  }
  
  .ra9_clock .ra9_hand.ra9_minute {
    width: 7px;
    height: 40%;
    background-color: black;
  }
  
  .ra9_clock .ra9_hand.ra9_hour {
    width: 10px;
    height: 35%;
    background-color: black;
  }
  